*{
   margin: 0;
   font-family: "Open Sans";
  
}
body{
   display: block;
   background-color: #E5E5E5;
}
 .container {
    display: block;
    justify-content: center;
    height: 779px;
    
    max-width: 1440px;
    background-color: #02160b;
    background: url(./assets/Hero.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    

 }
 
    .logo{
       display: flex;
       width: 300px;
       justify-content: space-between;
       margin-top: 20px;
       margin-left: 46px;
    }
    h1{
       margin-right: 78px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 60px;
      /* identical to box height, or 187% */
      
      text-transform: uppercase;
      
      /* font-light */
      
      color: #F7F7F7;
      


    }
      nav{
         width:500px;
         margin-top: 20px;
         margin-right: 175px;
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 60px;
/* identical to box height, or 261% */


/* font-light */

color: #F7F7F7;
         display: flex;
         justify-content: space-between;
      }
      .cor1{
         margin-top: 14px;
         margin-left: 66px;
      }
      .cor2{
         margin-left: 62px;
      }
      ul{
         display: flex;
         width:400px;
         height: 40px;
         justify-content: space-between;
      }
      header{
         display: flex;
         width: 1400px;
         height: 80px;
         justify-content: space-between;
      }
      a{
         display: flex;
         text-decoration: none;
         justify-content: space-between;
         color: white;
      }
      li{
         display: flex;
         justify-content: space-between;
      }
      .special{
         text-align: center;
         margin-left: 60px;
         margin-top: 5px;
         border: orange solid 1px;
         background-color: transparent;
         color: white;
         cursor: pointer;
         width: 120px;
         height: 50px;
      }
      .text5{
         justify-content: center;
         text-align: center;
         font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

/* font-light */

color: #F7F7F7;
      }
      .Survival{
         margin-top: 121px;
         margin-left: 46px;
         font-family: Open Sans;
         font-style: normal;
         font-weight: normal;
         font-size: 48px;
         line-height: 72px;


         letter-spacing: 2px;
         width: 1400px;
         height: 100px;
         color: #CD6326;
      }
      .text{
         letter-spacing: normal;
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* or 150% */


/* font-light */

color: #F7F7F7;
margin-top: 50px;
         width: 274px;
         height: 108px;
      }
      .btn2{
         width: 160px;
         height: 60px;
         margin-top: 47px;
         background-color: orange;
         cursor: pointer;
      }
      .text6{
         font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
/* identical to box height */

text-align: center;

/* font-light */

color: #F7F7F7;
      }
      .Latest{
       
         background-color: #CCCCCC;
         display: block;
         
         max-width: 1440px;
         height: 1368px;
         margin:0 auto;
      }
      .text3{
         font-family: Open Sans;
         font-style: normal;
         font-weight: normal;
         font-size: 48px;
         line-height: 72px;
         /* identical to box height, or 150% */
         
         text-align: center;
         
         /* font-dark */
         
         color: #333333;
      }
      .text4{
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

text-align: center;

/* font-grey */

color: #666666;
      }
      .karusel{
         display: flex;
         width: 1440px;
         height: 250px;
         justify-content: space-between;
      }
      svg {
         fill: black;
      } 
      .deer{
         height: 200px;
      }
      .sq{
         height: 200px;
      }
      .bird{
         justify-content: center;
         align-items: center;
         height: 200px;
      }
      .text1{
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;


text-align: center;
      }
      .text2{
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 27px;


text-align: center;
      }
      .Get_notified{
         font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 40px;
/* identical to box height, or 150% */

text-align: center;

/* font-dark */

color: #333333;
      }
   footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 359px;
      
      max-width: 1440px;
      background-color: #181617;
      background: url(./assets/Footer.jpg) no-repeat center;
      background-size: cover;
      margin: 0 auto;
   }
   .net{
      display: flex;
      width: 1000px;
      height: 80px;
      justify-content: space-between;  
   }
   figcaption{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -60px;
   }
   p{
      width: 200px;
      justify-content: center;
      align-items: center;
   }
   .test1{
      
      margin-right: 390px;
      margin-top: 80px;
      margin-left: 10px;
   }
   .temp2{
      margin-right: 0px;
      margin-top: 80px;
      margin-left: 30px;

   }
   .btn{
      fill: orange;
      background-color: orange;
      cursor: pointer;
   }
   .wrapper{

      width: 1440px;
      margin: 0 auto;
      justify-content: space-around;
  
  }